	/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
	/*definições de Media Queries -- (( TABLET )) -- */
	/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

	@media screen and (max-width: 920px) {
		[class*="col-"]{
			width: 100%;
			float: none;
		}

	/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
	/*definições de Menú*/
	/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/	

		.container-menu, .menu, .menu ul{border-radius: 0;}

		.container-menu {
			height: auto; 
			border:1px solid black;
			background: #fff;
}
		
		.container-logo{
			height: auto;
			max-width: 50px;
			border-radius: 0 0 0 0;
		}

		.menu ul li {
			height: 25px;
			margin-top: 0;
			font-size: 1em;
		}

		.menu ul li:hover {
		animation-name: tremular;
		animation-duration: 1s;
	}

	@keyframes tremular{
		0%  {transform: rotate(0deg);
			 font-size: 1.1em;
			 color: #694c68;}
		25% {transform: rotate(2deg);
			 font-size: 1.2em;
			 color: #ceff5b;}
		75%{transform: rotate(-2deg);
			font-size: 1.2em;
			color: #ceff5b;}
		100%{transform: rotate(0deg);
			 font-size: 1em;
			 color: #694c68;}
	}

	}