===================================*/
/*CSS reset*/
/*================================*/

	*{margin: 0; 
	 padding: 0; 
	 box-sizing: border-box;}


/*===================================*/
/*definições gerais*/
/*=================================*/



	.col-1 { width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 24.99%;}
	.col-4 {width: 33.32%;}
	.col-5 {width: 41.65%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;} 

	.row::after {
 		content: "";
  		clear: both;
  		display: table;
  		overflow: auto;
	}

	[class*="col-"] {height: auto;}
	
	body {
		background: url(../img/img-fundo06.jpg);
		/*background-image: linear-gradient(#ad0b5c, #e0d8d8cf); */
		/*background-size: cover;*/
		height: 100vh;
	}

	/*//container geral//*/

	.container-geral{
		border-radius:10px;
		margin:  auto;
		margin-top: 5%;
		height:80%;
		border: 1px solid red;
		position: relative;
	}

	/*//definições de menu//*/

	.container-menu {
		height: 10%;
		border: 1px solid blue;
		border-radius: 10px 10px 0 0;
	}

	/*definições de rodapé*/

	.rodape {
		height: 10%;
		border-radius: 0 0 10px 10px;
		border: 1px solid black;
		position: absolute;
		bottom: 0;
	}