/*===================================*/
/*CSS reset*/
/*================================*/

	*{margin: 0; 
	 padding: 0; 
	 box-sizing: border-box;
	 /*font-family: 'Pacifico', cursive;*/
	 font-family: 'Shadows Into Light', cursive;
	}


/*===================================*/
/*definições gerais*/
/*=================================*/



	.col-1 { width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 22.99%;}
	.col-4 {width: 33.32%;}
	.col-5 {width: 41.65%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.333%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;} 

	.row::after {
 		content: "";
  		clear: both;
  		display: block;
  		overflow: auto;
	}

	[class*="col-"] {height: auto;
					 float: left;}
	
	body {
		background: url(../img/img-fundo06.jpg);
		background-size: contain;
	}

	/*//container geral//*/

	.container-geral{
		max-width: 1280px;
		border-radius:10px;
		margin:  auto;
		height:100vh;
		position: relative;
		padding-top: 2%;
	}

	/*//definições de menu//*/
	.container-menu, .menu, .menu ul{ border-radius: 0 10px 0 0;}

	.container-menu {
		height: 15%;
		border-radius: 10px 10px 0 0;
	}
	
	.container-logo, .menu, .img-logo { border-radius: 10px 0 0 0;}

	.container-logo, .menu {
		float: left;
		height: 100%;
	}
	.img-logo {
		height: 100%;
		width: 100%;
	}

	.menu ul {
		height: 100%;
		background: #ff69b4;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menu ul li {
		list-style-type: none;
		width: 33.33%;
		text-align: center;
		text-transform: uppercase;
		margin-top: 30px;
		cursor: pointer;
		font-size: 2em;
		font-weight: 900;
		color: #694c68;
	}

	.menu ul li:hover {
		color: #ceff5b;
	}

	/*definições de rodapé*/

	.rodape {
		height: 10%;
		border-radius: 0 0 10px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: #ff69b4;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contato-desenvolvedor p {
		font-family: 'Baloo Chettan', cursive;
		font-size: 0.7em;
	}